@import "tailwindcss";
@import "./badges.css";
@import "./inputs.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "InterVariable", system-ui, sans-serif;
}

button {
    cursor: pointer;
}

.body {
    @apply h-full min-h-screen;
}

.content {
    min-height: calc(100vh - 64px - 504px);
    @apply flex flex-col;
}

.flyout-menu {
    z-index: 20;
}

.datatable {
    @apply shadow-sm ring-1 ring-black/5 sm:rounded-lg;
}

.edit-container {
    @apply p-4 overflow-hidden border border-gray-200 sm:rounded-lg bg-white;
}
